.hero-header {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-artist {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/artsistbg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-header-index {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/aboutindex.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.hero-header-qna {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/qna.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.btn-primary {
    background-color: #E2062C;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #9A1A1A;
    color: white;
}

.btn-primary:active {
    background-color: #9A1A1A;
    color: white;
}

.btn-primary:focus {
    background-color: #E04C4C;
    color: white;
}

.btn-contact {
    background-color: black;
    border: none;
    color: white;
}

.btn-contact:hover {
    background-color: #9A1A1A;
    color: white;
}

.btn-contact:active {
    background-color: #9A1A1A;
    color: white;
}

.btn-contact:focus {
    background-color: #E04C4C;
    color: white;
}

.image-container {
    background: #f9f9f9;
}

.flex-column {
    max-width: 320px;
}

.d-flex img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
}

.footer {
    padding: 5rem 0;
}